*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Outfit',sans-serif;
background:radial-gradient(circle,#1e293b,#0f172a);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
color:white;
overflow:hidden;
}

.contenedor{
width:100%;
max-width:1000px;
background:rgba(15,23,42,.75);
backdrop-filter:blur(15px);
padding:30px;
border-radius:25px;
text-align:center;
box-shadow:0 0 30px rgba(0,229,255,.3);
}

h1{
font-size:38px;
margin-bottom:20px;
background:linear-gradient(135deg,#00f2fe,#4facfe);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.perfil{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
margin-bottom:20px;
}

.avatar{
width:50px;
height:50px;
border-radius:50%;
border:2px solid #00e5ff;
}

#puntaje{
color:gold;
}

.instruccion{
font-size:24px;
margin:20px;
color:#38bdf8;
}

#objetivo{
font-size:40px;
font-weight:bold;
color:gold;
margin-bottom:20px;
}

#zonaJuego{
position:relative;
height:450px;
border:2px dashed #00e5ff;
border-radius:20px;
overflow:hidden;
}

.numero{
position:absolute;
width:90px;
height:90px;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2563eb,#0f172a);
border:2px solid #38bdf8;
border-radius:20px;
font-size:28px;
font-weight:bold;
cursor:pointer;
transition:.2s;
}

.numero:hover{
transform:scale(1.1);
}

#mensaje{
font-size:28px;
font-weight:bold;
margin-top:20px;
min-height:40px;
}

#btnSiguiente{
display:none;
margin-top:20px;
padding:15px 30px;
border:none;
border-radius:15px;
background:linear-gradient(135deg,#22c55e,#16a34a);
color:white;
font-size:20px;
cursor:pointer;
}
