*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;

background:linear-gradient(
135deg,
#0f172a,
#1e3a8a,
#06b6d4
);

min-height:100vh;

padding:20px;

text-align:center;

color:white;

position:relative;

overflow-x:hidden;

}

/* Cuadrícula futurista */

body::before{

content:"";

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background-image:
linear-gradient(
rgba(255,255,255,.05) 1px,
transparent 1px
),
linear-gradient(
90deg,
rgba(255,255,255,.05) 1px,
transparent 1px
);

background-size:40px 40px;

z-index:-1;

}

.contenedor{

max-width:1000px;

margin:auto;

background:rgba(255,255,255,.08);

backdrop-filter:blur(12px);

padding:30px;

border-radius:25px;

border:1px solid rgba(255,255,255,.2);

box-shadow:
0 0 25px rgba(0,229,255,.4);

}

/* Títulos */

h1{

font-size:45px;

color:#00e5ff;

text-shadow:
0 0 10px #00e5ff,
0 0 20px #00e5ff;

margin-bottom:15px;

}

h2{

margin-bottom:25px;

}

/* Puntaje */

#puntaje{

color:#FFD700;

font-size:26px;

margin-bottom:20px;

}

/* Números */

.numeros{

display:flex;

justify-content:center;

gap:40px;

margin-top:30px;

flex-wrap:wrap;

}

.numero{

width:180px;
height:120px;

background:rgba(255,255,255,.12);

border:2px solid rgba(255,255,255,.2);

border-radius:20px;

display:flex;

justify-content:center;
align-items:center;

font-size:40px;
font-weight:bold;

color:white;

cursor:grab;

transition:.3s;

box-shadow:
0 0 15px rgba(0,229,255,.3);

}

.numero:hover{

transform:scale(1.08);

box-shadow:
0 0 25px #00e5ff;

}

/* Zona respuesta */

.zona{

width:320px;
height:180px;

margin:40px auto;

border:4px dashed #00e5ff;

border-radius:20px;

display:flex;

justify-content:center;
align-items:center;

font-size:32px;
font-weight:bold;

background:rgba(255,255,255,.08);

backdrop-filter:blur(10px);

}

/* Mensaje */

#mensaje{

margin:20px;

font-size:26px;

font-weight:bold;

min-height:40px;

}

/* Botones */

#btnVerificar,
#btnSiguiente{

padding:15px 30px;

border:none;

border-radius:15px;

font-size:20px;

cursor:pointer;

transition:.3s;

margin:10px;

color:white;

}

#btnVerificar{

background:
linear-gradient(
to right,
#00e5ff,
#007BFF
);

box-shadow:
0 0 15px rgba(0,229,255,.5);

}

#btnVerificar:hover{

transform:scale(1.08);

}

#btnSiguiente{

display:none;

background:
linear-gradient(
to right,
#22c55e,
#16a34a
);

box-shadow:
0 0 15px rgba(34,197,94,.5);

}

#btnSiguiente:hover{

transform:scale(1.08);

}
